<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link href="http://localhost:3000/static/base.css", rel = "stylesheet">
</head>
<body>
    <div id="nav">
        <div class="shopping-cart">
            <a href="/">Home</a>
            <a href="/shopping_cart">Shopping cart</a>
        </div>
    </div>
</body>
</html>