body{
    margin: 0;
    font-family: sans-serif;
}
#container{
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
}
#time{
    color: black;
    margin: auto;
    font-size: 40pt;
}